cffi==1.16.0
colorama==0.4.6
cryptography==42.0.8
et-xmlfile==1.1.0
fonttools==4.53.1
numpy==2.0.0
opencv-python==4.10.0.84
openpyxl==3.1.5
pandas==2.2.2
pycparser==2.22
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyzbar==0.1.9
qrcode==7.4.2
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
